<mat-toolbar>
  
  <div class="logo">
    COVID19 Tracker PH
  </div>

  <button mat-button [matMenuTriggerFor]="aboveMenu">Summary</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item>Confirmed</button>
    <button mat-menu-item>UI</button>
    <button mat-menu-item>UM</button>
    <button mat-menu-item>Recovered</button>
    <button mat-menu-item>Deaths</button>
  </mat-menu>
  <button mat-button>Upload File</button>
  <button mat-button>Health Check</button>
  <button mat-button>About Us</button>

</mat-toolbar>
